* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1 {
  color: #b28860;
}
p {
  color: #d8cdc7;
}
#main {
  height: 100vh;
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 120px;
}
#jupiter-main {
  width: 40vw;
}
