* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --raisinblack: #2b2826;
  --timberwolf: #d8cdc7;
  --lion: #b28860;
  --eerieblack: #181818;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 76px;
}
body {
  font-family: Inknut Antiqua;
  font-weight: 100;
}
h1 {
  color: var(--lion);
}
h2 {
  color: var(--timberwolf);
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--timberwolf);
}
p {
  color: var(--timberwolf);
}

.caption {
  font-size: 14px;
}
/* navbar */
#menu {
  display: flex;
  flex-direction: row;
  background-color: var(--raisinblack);

  color: var(--timberwolf);
  font-size: 14px;
  padding: 0px 40px;
  position: sticky;
  top: 0;

  z-index: 10;
}
.navlinks {
  padding: 20px;
}
.navlinks:hover {
  background-color: black;
}

@media only screen and (max-width: 1030px) {
  #menu {
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .navlinks {
    padding: 1px;
  }
  #hero {
    height: calc(100vh - 252px);
  }
}

#to-top {
  position: fixed;
  bottom: 0;
  right: 20px;
  font-size: 35px;
}
#to-top a:hover {
  color: white;
}
/* Section 1 hero */
header {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url(images/stars-7088_512.gif);
}
#hero {
  height: 100%;
  display: flex;

  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 10vw;

  background-color: rgba(000, 000, 000, 0.6);
}
#jupiter-main {
  width: 40vw;

  border-radius: 50%;
}
#bottom-hero {
  display: flex;
  width: 100%;
  align-items: center;
}
#down {
  width: 100%;
  font-size: 35px;
  color: var(--timberwolf);
  background-color: rgba(000, 000, 000, 0.6);

  text-align: center;
  z-index: 1;
}
#dark {
  width: 60px;
  height: 100%;
  background-color: black;
  z-index: 1;
}

header a:hover {
  filter: brightness(2);
}
/* Section 2 distance & time  */
#distance-time {
  height: calc(100vh - 76px);
  display: flex;

  background: linear-gradient(to left, #2b2826, black);
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 15vw;
}

#jupiter-png {
  width: 25vw;
}
#jupiter-png:hover {
  filter: brightness(1.25);
}

/* Section 3 moons of Jupiter */
#moons {
  height: calc(100vh - 76px);
  display: flex;
  background-color: black;
  background: linear-gradient(to top, #2b2826, black);
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 7vw;
}
#moon-text {
  width: 45vw;
}
#moon-images {
  width: 23vw;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.jupiter-moons {
  max-width: 100%;
  max-height: 100%;
  margin: 30px 0px 0px 0px;
  border-radius: 4%;
}

/* Section 4 great red spot */
#red-spot {
  height: calc(100vh - 76px);
  display: flex;
  background-color: black;
  background: linear-gradient(to left, #2b2826, black);
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 7vw;
}
#red-spot-background {
  background-image: url(images/PIA22178b.gif);
  background-size: cover;
  height: calc(35vw / 1.7777778);
  border-radius: 4%;
}
#red-spot-image {
  width: 35vw;
  border-radius: 4%;
}
#red-spot-image:hover {
  opacity: 0%;
}

/* Section 5 spacecraft to Jupiter */
#SpaceCrafts {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(to top, #2b2826, black);
  padding: 0px 120px;
  overflow: hidden;
}

#Spacecafttext {
  width: 50%;
  font-size: calc(1vw + 10px);
  max-width: 50ch;
}

#Junocraft {
  width: 100%;
  max-height: 50%;
  display: flex;

  align-items: center;
  gap: 3vw;
}
#Junocraft img {
  height: 100%;
  border-radius: 4%;
}

.europa-clipper {
  width: 100%;
  max-height: 50%;
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.europa-clipper img {
  border-radius: 4%;
}

/* <!-- Section 6 image gallery --> */
#gallery-main {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to left, #2b2826, black);

  padding: 5vh 120px;
  overflow: hidden;
}
#gallery {
  display: flex;
  height: 100%;
  padding: 5vh;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}
.gallery-image {
  width: 200px;
  height: fit-content;
  text-align: center;
  font-size: 14px;
  border: 1px solid rgba(216, 205, 199, 0.5);
  padding: 10px;
  background-color: var(--raisinblack);
}
.gallery-image img {
  height: 120px;
}
.gallery-image:hover {
  filter: brightness(1.2);
}
footer {
  height: 76px;
  display: flex;
  background: linear-gradient(to bottom, #2b2826, black);
  border-top: 1px solid var(--timberwolf);
  justify-content: center;
  align-items: center;
}
