* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --raisinblack: #2b2826;
  --timberwolf: #d8cdc7;
  --lion: #b28860;
  --eerieblack: #181818;
}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 76px;
}
body {
  font-family: Inknut Antiqua;
  font-weight: 100;
}
h1 {
  color: var(--lion);
}
h2 {
  color: var(--timberwolf);
  font-size: 16px;
}
a {
  text-decoration: none;
  color: var(--timberwolf);
}
p {
  color: var(--timberwolf);
}

.caption {
  font-size: 14px;
}
/* navbar */
#menu {
  display: flex;
  flex-direction: row;
  background-color: var(--raisinblack);

  color: var(--timberwolf);
  font-size: 14px;
  padding: 0px 40px;
  position: sticky;
  /* justify-content: space-between; */
  top: 0;
  /* line-height: 4; */
  /* border: 1px solid red; */
}
.navlinks {
  /* display: flex; */
  padding: 20px;
  /* border: 1px solid green; */
}
.navlinks:hover {
  background-color: black;
}

/* Section 1 hero */
#hero {
  height: calc(100vh - 76px);
  display: flex;
  background-color: black;
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 10vw;
}
#jupiter-main {
  width: 40vw;

  border-radius: 35%;
}
#intro {
  /* height: 80%; */
}

/* Section 2 distance & time  */
#distance-time {
  height: calc(100vh - 76px);
  display: flex;
  /* background-color: var(--eerieblack); */
  background-image: linear-gradient(to left, #2b2826, black);
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 15vw;
}
#distance-time-text {
  /* height: 60%; */
  /* background-color: red; */
  /* position: relative;
  bottom: 200; */
}
#jupiter-png {
  width: 25vw;
}
#jupiter-png:hover {
  filter: brightness(1.25);
}
#moons {
  height: calc(100vh - 76px);
  display: flex;
  background-color: black;
  background-image: linear-gradient(to top, #2b2826, black);
  justify-content: space-between;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 7vw;
  /* border: 1px solid red; */
}
#moon-text {
  /* border: 1px solid blue; */
  width: 45vw;
}
#moon-images {
  width: 23vw;
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  /* padding: 0px 0px 0px 7vw; */
  /* gap: 10px; */
  /* border: 1px solid green; */
}
.jupiter-moons {
  max-width: 100%;
  max-height: 100%;
  /* border: 1px solid yellow; */
  /* padding: 0px 0px 0px 10vw; */
  /* padding: 120px; */
  margin: 30px 0px 0px 0px;
}
#red-spot {
  height: calc(100vh - 76px);
  display: flex;
  background-color: black;
  background-image: linear-gradient(to left, #2b2826, black);
  justify-content: center;
  align-items: center;
  padding: 0px 120px;
  overflow: hidden;
  gap: 7vw;
}
#red-spot-background {
  background-image: url(/images/PIA22178.gif);
  background-size: cover;
  height: calc(35vw / 1.7777778);

  /* border: 1px solid red; */
}
#red-spot-image {
  width: 35vw;

  /* border: 1px solid var(--timberwolf); */
}
#red-spot-image:hover {
  opacity: 0%;
}

#red-spot-text {
  /* border: 1px solid green; */
}

/* Spacecraft to Jupiter section */
#SpaceCrafts {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 0px 120px;
  overflow: hidden;
  /* border: 1px solid blue; */
}
/ .flex-container {
  display: flex;
  border: 1px solid red;
}
/ #Spacecafttext {
  width: 50%;
  font-size: calc(1vw + 10px);
  max-width: 50ch;
}

#Junocraft {
  width: 100%;
  max-height: 50%;
  display: flex;
  /* flex-direction: column; */
  /* border: 5px solid green; */
  align-items: center;
  gap: 3vw;
}
#Junocraft img {
  /* width: 100%; */
  height: 100%;
}

.europa-clipper {
  width: 100%;
  max-height: 50%;
  display: flex;
  /* flex-direction: column; */
  /* border: 5px solid green; */
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

#gallery-main {
  height: calc(100vh - 76px);
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to top, #2b2826, black);
  justify-content: space-between;
  align-items: center;
  padding: 30px 120px;
  overflow: hidden;
}
#gallery {
  /* width: 80vw; */
  display: flex;
  border: 1px solid red;
  gap: 10px;
}
.gallery-image {
  width: 200px;
  /* height: 200px; */
  text-align: center;
  font-size: 14px;
  border: 1px solid var(--timberwolf);
}
.gallery-image img {
  height: 120px;

  /* height: auto; */
}
